@import 'variables';
@import 'mixins';

.navbar {
	background-color: map-get($colors,secondary);
	.bigLogo {
		z-index: $zIndex;
		display: flex;
		align-items: baseline;
		img {
			opacity: $logoOpacity;
			position: absolute;
			right: 7%;
		}
	}
}

.navbar-brand {
	img {
		width: $logoSize;
		height: $logoSize;
	}
}

.background_header {
	background-color: map-get($colors,primary);
	div {
		div {
			color: map-get($colors,quartenary);
		}
	}
}

.lineaIndex {
	border: 1.5px solid map-get($colors,quartenary);
	margin: $lineIndex;
}
.footer {
	background-color: map-get($colors,quartenary);
}

.form-control {
	border-color: map-get($colors,quartenary);
}
.form-check-input {
	&:checked {
		background-color: map-get($colors,quartenary);
		border-color: map-get($colors,quartenary);
	}
	&:hover {
		background-color: map-get($colors,quartenary);
		border-color: map-get($colors,quartenary);
	}
}

.btn-secondary {
	background-color: map-get($colors,primary);
	border-color: map-get($colors,primary);
	border-radius: $borderRadius;
	&:hover {
		background-color: map-get($colors,primary);
		border-color: map-get($colors,primary);
	}
}


.widthSpec {
	@include largeScreen {
        width: 75%;
    }

	@include mediumScreen {
        width: 90%;
    }

	@include smallScreen {
        width: 100%;
    }
}



.error-container {
	background-color: $error-background-color;
	border: 1px solid $error-border-color;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 50px auto;
	max-width: 600px;

	.error-title {
		font-size: 3em;
		color: $error-color;
		margin-bottom: 20px;
	}

	.error-message {
		font-size: 1.5em;
		margin-bottom: 30px;
	}

	.error-link {
		font-size: 1.2em;
		color: $error-color;
		text-decoration: none;
		border-bottom: 1px dotted $error-color;

		&:hover {
			text-decoration: none;
			border-bottom-style: solid;
		}
	}
}


@media (max-width: $mediumScreen) {
	.navbar {
		.bigLogo {
			z-index: $zIndex;
			display: flex;
			img {
				width: $logoSizeMedio;
				height: $logoSizeMedio;
				top: 71px;
			}
		}
	}
}

@media (max-width: $smallScreen) {
	.form-floating {
		input {
			height: $height;
		}
	}
	.form-switch {
		input {
			height: $height;
		}
	}
	.navbar {
		.bigLogo {
			display: none;
		}
	}
}
